
#main-navbar {
  background-color: blue;
  overflow: hidden;
}
#navbar-container {
  position: relative; 
  width: 100%;
}
#navbar-container ul {
  float: left; 
  left: 50%; 
  list-style-type: none; 
  margin: 0; 
  padding: 0;
  position: relative;
}
#navbar-container ul li {
  float: left; 
  padding: 10px 20px;
  position: relative; 
  right: 50%;
}
#navbar-container ul li a{
  color: #fff;
  text-decoration: none;
}
#onpage {
  text-decoration: underline overline;
}
#navbar-container ul li a:hover {
  background-color: #000;
}





#sidebar {
  background-color: red;
  height: 100%;
  position: fixed;
  right:0%;
  width: 20%;
}

#sidebar-container ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

#sidebar-container ul li{
  padding: 15px 0;  
}  

#sidebar-container ul li a{
  color: #fff;
  display: block; 
  text-decoration: none; 
}

#sidebar-container ul li a:hover {
  background-color: #000;
}