
#main-navbar {
  background-color: blue;
  overflow: hidden;
}
#navbar-container {
  list-style-type: none; 
  position: relative; 
  width: 100%;
}
#navbar-container ul {
  list-style-type: none; 
}
#navbar-container ul li a{
  color: #fff;
  text-decoration: none;
}
#onpage {
  text-decoration: underline overline;
}
#navbar-container ul li a:hover {
  background-color: #000;
}





#sidebar {
  background-color: red;
  height: 100%;
  position: fixed;
  right:0%;
  width: 20%;
}

#sidebar-container ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

#sidebar-container ul li{
  padding: 15px 0;  
}  

#sidebar-container ul li a{
  color: #fff;
  display: block; 
  text-decoration: none; 
}

#sidebar-container ul li a:hover {
  background-color: #000;
}