
#main-navbar {
  background-color: blue;
  overflow: hidden;
}
#navbar-container {
  
}
#onpage {
  text-decoration: underline overline;
}








#sidebar {
  background-color: red;
  height: 100%;
  position: fixed;
  right:0%;
  width: 20%;
}
#sidebar-container {
  text-decoration: none;
}

#sidebar-container ul {
  list-style-type: none;
}

#sidebar-container ul li a{
  color: #fff;
}

#sidebar-container ul li a:hover {
  background-color: #000;
}